recursive-include tests *.py

include AUTHORS
include LICENSE
include README.rst

recursive-include templates/gmaps/templatetags/gmaps/ *.js
recursive-include templates/gmaps/templatetags/gmaps/ *.html
